Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy
pandas==0.24.2
#tensorboard==2.2.1
#tensorboard-plugin-wit==1.6.0
tensorflow==2.2.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.2.0
opencv-python
argparse
importlib
#importlib-metadata
#importlib-resources==1.4.0